.file-upload-form {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.custom-file-upload, .upload-button {
    background-color: #E9B384;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover, .upload-button:hover {
    background-color: #e49855; 
}

.custom-file-upload:focus, .upload-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.5); 
}
