.nav-bar {
  background-color: #7C9D96;
  color: #fff;
  padding: 10px 50px;
  margin: 20px auto; 
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75%;
}

@media (max-width: 75%) {
  .nav-bar {
    padding: 10px 20px; 
    flex-direction: column;
    gap: 10px; 
  }

  .nav-item, .nav-link {
    font-size: 20px; 
  }

  .app-logo, .notification-logo {
    height: 40px; 
  }
}

.app-logo {
  width: auto;
  height: 50px;
}

.app-logo-link {
  width: auto;
  height: 50px;
  margin: 5px;
  
}

.app-logo-group {
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

.app-logo-group:hover {
  background-color: #66817b;
}

.notification-logo {
  width: fit-content;
  height: 40px;
}

.notification-logo-link {
  width: auto;
  height: 40px;
}

.notification-logo-group:hover {
  background-color: #66817b;
}

.nav-left {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-right {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 10px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 36px;
}

.nav-item:hover {
  background-color: #555; 
}

@media (max-width: 500px) {
  .nav-bar {
    background-color: #7C9D96;
    color: #fff;
    padding: 10px 50px;
    margin: 20px auto; 
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75%;
   
  }

  .nav-item, .nav-link {
    font-size: 20px; 
  }

}

a {
  float: left;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 36px;

}


.topnav-right {
  float: right;
}  


.nav-item {
  position: relative;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.2s ease;
  transition: color 0.2s ease;
  color: #000000;
}


.nav-item:hover {
    background-color: #66817b;
    color: #F4F2DE;
    
}

.nav-item:hover .nav-link{
  color: #F4F2DE;
  
}

.dropdown {
  display: block;
  position: absolute;
  top: 100%; 
  left: 0;
  z-index: 1;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding:10px;
}

.dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown ul li {
  padding: 5px;
}

.dropdown ul li:hover {

  background-color: #f9f9f9;
  border-radius: 5px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-menu li {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #333;
}


.dropdown-menu li:hover {
  background-color: #ddd;
  cursor: pointer;
}


.dropdown-menu {
  display: block;
}

